* {
  font-family: 'DM Sans', monospace;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
}

.column {
  flex-basis: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

img {
  max-height: 360px;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  align-self: flex-end;
}

.label,
.size,
.current-price,
.old-price {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.label {
  font-weight: bold;
  padding-right: 5px;
  border-right: 2px solid gray;
}

.size {
  color: gray;
}

.current-price {
  background-color: pink;
}

.old-price {
  color: gray;
  text-decoration: line-through;
}
