* {
  font-family: monospace, sans-serif;
}

.container {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.row {
  flex-basis: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.current {
  border-bottom: 3px solid black;
}

.correct {
  color: rgb(46, 211, 60);
}

.incorrect {
  color: red;
  border-bottom-color: red;
}

span {
  box-sizing: border-box;
  min-width: 1.2rem;
  height: 45px;
  padding-bottom: 5px;
}

.hidden {
  display: none;
}
